Options +FollowSymlinks
RewriteEngine On

RewriteRule ^admin$ admin.php

RewriteRule ^admin/addwork$ admin.php?type=addwork
RewriteRule ^admin/work/add$ admin.php?type=addwork&a=addWork

RewriteRule ^admin/work$ admin.php?type=work
RewriteRule ^admin/work/show/([0-9]+)$ admin.php?type=work&a=showSubject&id=$1
RewriteRule ^admin/work/hide/([0-9]+)$ admin.php?type=work&a=hideSubject&id=$1
RewriteRule ^admin/work/delete/([0-9]+)$ admin.php?type=work&a=deleteSubject&id=$1

RewriteRule ^admin/group$ admin.php?type=group
RewriteRule ^admin/result/([a-zA-Z0-9]+)/([0-9]+)/([0-9]+)$ admin.php?type=resultgroup&groupName=$1&subjectId=$2&id=$3
RewriteRule ^admin/homework/add$ admin.php?type=group&a=addHomework
RewriteRule ^admin/homework/delete/([0-9]+)$ admin.php?type=group&a=deleteHomework&id=$1

RewriteRule ^admin/message$ admin.php?type=message
RewriteRule ^admin/message/([0-9]+)$ admin.php?type=message&id=$1
RewriteRule ^admin/message/add$ admin.php?type=message&a=addMessage
RewriteRule ^admin/message/reply$ admin.php?type=message&a=replyMessage

RewriteRule ^admin/profile$ admin.php?type=profile
RewriteRule ^admin/profile/changepassword$ admin.php?type=profile&a=changePassword

RewriteRule ^admin/logout$ controler/admin/logout.php

RewriteRule ^admin/work/edit/([0-9]+)$ admin.php?type=editwork&id=$1
RewriteRule ^admin/work/edit/save$ admin.php?type=editwork&a=saveEditWork

RewriteRule ^admin/admin$ admin.php?type=admin
RewriteRule ^admin/admin/adduser$ admin.php?type=admin&a=addUser
RewriteRule ^admin/admin/deleteuser/([0-9]+)$ controler/admin/admin.php?a=deleteUser&id=$1
RewriteRule ^admin/admin/addgroup$ admin.php?type=admin&a=addGroup
RewriteRule ^admin/admin/addetablishing$ admin.php?type=admin&a=addEtablishing
RewriteRule ^admin/admin/user/reinitpassword/([a-zA-Z0-9_]+)$ admin.php?type=admin&a=reinit&u=$1
RewriteRule ^admin/admin/user/edit/([a-zA-Z0-9_]+)$ admin.php?type=admin&a=editUser&u=$1
RewriteRule ^admin/admin/user/delete/([a-zA-Z0-9_]+)$ admin.php?type=admin&a=del&u=$1

RewriteRule ^lang/([a-z]+)$ controler/student/changeLangue.php?l=$1

RewriteRule ^index$ index.php
RewriteRule ^login$ index.php?type=login
RewriteRule ^QCM/([0-9]+)/([0-9]+)$ index.php?type=showQcm&homeworkId=$1&homeworkType=QCM&subjectId=$2
RewriteRule ^ORAL/([0-9]+)/([0-9]+)$ index.php?type=showQcm&homeworkId=$1&homeworkType=ORAL&subjectId=$2

RewriteRule ^result/([0-9]+)/([0-9]+)$ index.php?type=answersQcm&homeworkId=$1&subjectId=$2
RewriteRule ^profile$ index.php?type=profile
RewriteRule ^profile/changepassword$ index.php?type=profile&a=changePassword
RewriteRule ^faq$ index.php?type=faq
RewriteRule ^logout$ index.php?type=profile&a=deco